### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [72]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

In [73]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [119]:
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Total Count,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24,20-24
...,...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24,20-24

* Display the total number of players

In [74]:
total_players = len(purchase_data["SN"].value_counts())
total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [75]:
unique_items = purchase_data["Item ID"].nunique()
unique_items

179

In [76]:
avg_price = purchase_data['Price'].mean()
avg_price

3.050987179487176

In [77]:
total_purchases = purchase_data["Purchase ID"].count()
total_purchases

780

In [78]:
total_revenue = purchase_data['Price'].sum()
total_revenue

2379.77

In [79]:
summary_df = pd.DataFrame({"Number of Unique Items": [unique_items], 
                           "Average Price": [avg_price], 
                           "Number of Purchases": [total_purchases], 
                          "Total Revenue": [total_revenue]})
summary_df.style.format({"Average Price":"${:.2f}", "Total Revenue": "${:.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [80]:
gender_group = purchase_data.groupby(["Gender"])
gender_count = gender_group.nunique()['SN']

percentage_players = gender_count / total_players
gender_comparison = pd.DataFrame({"Total Count": gender_count, "Percentage of Players": percentage_players})
gender_comparison = gender_comparison.sort_values("Total Count", ascending=False)
gender_comparison.style.format({"Percentage of Players": "{:.2%}"})

In [81]:
gender_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [82]:
gender_avgPrice = gender_group["Price"].mean()
gender_avgPrice

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [83]:
gender_purchaseCount = gender_group['Purchase ID'].count()
gender_purchaseCount

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [84]:
gender_purchaseTotal = gender_group['Price'].sum()
unique_purchaseCount = gender_group['SN'].nunique()
gender_avgPricePerPerson = gender_purchaseTotal / unique_purchaseCount
gender_avgPricePerPerson

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [85]:
gender_summary = pd.DataFrame({"Purchase Count": gender_purchaseCount, 
                               "Average Purchase Price": gender_avgPrice, 
                               "Total Purchase Value": gender_purchaseTotal,
                               "Avg Total Purchase per Person": gender_avgPricePerPerson})
gender_summary.style.format({"Average Purchase Price": "${:.2f}",
                            "Total Purchase Value": "${:.2f}",
                            "Avg Total Purchase per Person": "${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [92]:
# Create bins for the age groups

bins = [0, 10, 15, 20, 25, 30, 35, 40, 60]
# Create names for the bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_counts = purchase_data["Age"].value_counts()
purchase_data['Age Ranges'] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True, right=False)

age_demo_group = purchase_data.groupby("Age Ranges")

age_demo_count = age_demo_group["SN"].nunique()

percent_age = age_demo_count / total_players

age_demo_df = pd.DataFrame({"Total Count": age_demo_count,
                           "Percent of Players": percent_age})
age_demo_df.style.format({"Percent of Players": "{:.2%}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [104]:
#Total purchase count
age_purchase_count = age_demo_group["Purchase ID"].count()

#Total purchase value
age_total_value = age_demo_group['Price'].sum()

#Avg purchase price
age_avg_price = age_total_value / age_purchase_count
age_avg_price

avg_purchase_per_person = age_total_value / age_demo_count
avg_purchase_per_person

purchase_analysis_age = pd.DataFrame({"Purchase Count": age_purchase_count, 
                                      "Average Purchase Price": age_avg_price,
                                      "Total Purchase Value": age_total_value, 
                                      "Avg Total Purchase per Person": avg_purchase_per_person})

purchase_analysis_age.style.format({"Average Purchase Price" : "${:.2f}",
                                  "Total Purchase Value" : "${:.2f}", 
                                  "Avg Total Purchase per Person" : "${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [118]:
#group data by SN
sn_group = purchase_data.groupby('SN')

#purchase count by SN
sn_purchase_count = sn_group['Purchase ID'].count()

#average purchase price by SN
sn_average_purchase = sn_group['Price'].mean()
sn_average_purchase

#total purchase value by SN
sn_total_value = sn_group['Price'].sum()
sn_total_value

top_spenders = pd.DataFrame({'Purchase Count': sn_purchase_count,
                            'Average Purchase Price': sn_average_purchase,
                             'Total Purchase Value': sn_total_value})
top_spenders = top_spenders.sort_values(['Total Purchase Value'], ascending=False)
top_spenders = top_spenders.head()
top_spenders.style.format({'Average Purchase Price': "${:.2f}",
                          'Total Purchase Value': "${:.2f}"})

## Most Popular Items

In [156]:
#Retrieve the Item ID, Item Name, and Item Price columns
popular_items = purchase_data[['Item ID', 'Item Name', 'Price']]

#Group by Item ID and Item Name
popular_group = popular_items.groupby(['Item ID', 'Item Name'])

#Purchase Count
item_purchase_count = popular_group['Item ID'].count()
item_purchase_count

#Average item price
item_avg_price = popular_group['Price'].mean()
item_avg_price

#total purchase value
item_total_value = popular_group['Price'].sum()
item_total_value

#create summary dataframe
most_popular_item_df = pd.DataFrame({'Purchase Count': item_purchase_count,
                                    'Item Price': item_avg_price,
                                    'Total Purchase Value': item_total_value})


#sort by purchase count in decending order
most_popular_item_sort = most_popular_item_df.sort_values('Purchase Count', ascending=False)
most_popular_summary = most_popular_item_sort.head(5)
#clean formatting
most_popular_summary.style.format({'Item Price': "${:.2f}",
                                  'Total Purchase Value': "${:.2f}"})

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [157]:
most_profitable_item_df = most_popular_item_df.sort_values('Total Purchase Value', ascending=False)
most_profitable_item_df = most_profitable_item_df.head(5)
#clean formatting
most_profitable_item_df.style.format({'Item Price': "${:.2f}",
                                  'Total Purchase Value': "${:.2f}"})